@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes-Medium.eot");
  src: local("../assets/fonts/TT Lakes Medium"),
    local("../assets/fonts/TTLakes-Medium"),
    url("../assets/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Medium.woff") format("woff"),
    url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes-Bold.eot");
  src: local("../assets/fonts/TT Lakes Bold"),
    local("../assets/fonts/TTLakes-Bold"),
    url("../assets/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes-DemiBold.eot");
  src: local("../assets/fonts/TT Lakes DemiBold"),
    local("../assets/fonts/TTLakes-DemiBold"),
    url("../assets/fonts/TTLakes-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/TTLakes-DemiBold.woff") format("woff"),
    url("../assets/fonts/TTLakes-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-height: 100vh;
  overflow-y: visible;
  background-color: #ffffff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__element {
  margin-top: 19px;
  margin-bottom: 50px;
}
.header__burger {
  margin-left: 24px;
}
.header__search {
  margin-right: 24px;
  margin-left: auto;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  gap: 16px;
}
.menu__element {
  list-style: none;
}
.menu__link {
  display: block;
  padding: 10px 50px 10px 24px;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #1b1c21;
}
.menu__link--active,
.menu__link:hover,
.menu__link:focus {
  color: #7e7e82;
  background: url(../assets/images/highlight.svg) 0px 4px no-repeat;
}

.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navigation__element {
  margin-bottom: 16px;
}
.navigation__call {
  margin-left: 24px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about__element {
  margin-left: 19px;
}
.about__number {
  margin-bottom: 40px;
}
.about__link {
  padding: 5px;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #1b1c21;
}
.about__link--number {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.language {
  display: flex;
  align-items: center;
}
.language__element {
  margin-bottom: 32px;
}
.language__ru {
  margin-left: 19px;
}
.language__btn {
  padding: 5px;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #1b1c21;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.language__btn--active,
.language__btn:hover,
.language__btn:focus {
  color: #7e7e82;
} /*# sourceMappingURL=style.css.map */
