@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-Medium.eot");
    src:
        local("../assets/fonts/TT Lakes Medium"),
        local("../assets/fonts/TTLakes-Medium"),
        url("../assets/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/TTLakes-Medium.woff") format("woff"),
        url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-Bold.eot");
    src:
        local("../assets/fonts/TT Lakes Bold"),
        local("../assets/fonts/TTLakes-Bold"),
        url("../assets/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
        url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-DemiBold.eot");
    src:
        local("../assets/fonts/TT Lakes DemiBold"),
        local("../assets/fonts/TTLakes-DemiBold"),
        url("../assets/fonts/TTLakes-DemiBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/TTLakes-DemiBold.woff") format("woff"),
        url("../assets/fonts/TTLakes-DemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

$mainColor: #ffffff;
$textColor: #1b1c21;
$hoverColor: #7e7e82;

@mixin clearfix {
    position: fixed;
    transform: scale(0);
    visibility: hidden;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin text {
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    min-height: 100vh;
    overflow-y: visible;
    background-color: $mainColor;
    box-shadow:
        16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    &__header {
        margin: {
            top: 19px;
            bottom: 50px;
        }
    }
    &__menu {
        margin-bottom: 50px;
    }
    &__footer {
        margin-bottom: 32px;
    }
}

.header {
    @include flex;
    gap: 16px;
    &__burger {
        margin-left: 24px;
    }
    &__search {
        margin: {
            right: 24px;
            left: auto;
        }
    }
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__element {
        list-style: none;
    }
    &__link {
        display: block;
        padding: 10px 50px 10px 24px;
        @include text;
        color: $textColor;
    }
    &__link--active,
    &__link:hover,
    &__link:focus {
        color: $hoverColor;
        background: url(../assets/images/highlight.svg) 0px 4px no-repeat;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: auto;
}

.navigation {
    @include flex;
    gap: 16px;
    &__element {
        margin-bottom: 16px;
    }
    &__call {
        margin-left: 24px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__element {
        margin-left: 19px;
    }
    &__number {
        margin-bottom: 40px;
    }
    &__link {
        padding: 5px;
        @include text;
        color: $textColor;
    }
    &__link--number {
        font: {
            size: 24px;
            weight: 700;
        }
        line-height: 32px;
        letter-spacing: -0.6px;
    }
}

.language {
    @include flex;
    &__ru {
        margin-left: 19px;
    }
    &__btn {
        padding: 5px;
        @include text;
        color: $textColor;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__btn--active,
    &__btn:hover,
    &__btn:focus {
        color: $hoverColor;
    }
}
